.folder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  margin: 10px;
  border: lightgray solid 1px;
}

.folder_name {
  font-size: 1.5rem;
}

a {
  list-style: none;
  color: black;
}

.active > .folder {
  background: lightskyblue;
  font-weight: bolder;
  color: rgba(28, 28, 85);
  border: 2px solid rgb(28, 28, 85);
}

.add_folder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid lightgray;
  height: 75px;
  width: 80%;
  margin: 25px;
}
