.folder_container {
  display: flex;
  flex-direction: row;
}

.folder_sidebar {
  flex: 1;
  border: 1px solid lightgray;
  padding: 15px;
}

.folder_content {
  flex: 3;
  padding: 15px;
}

.folder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: lightgray solid 1px;
  margin: 10px;
}

.note {
  margin: 10px;
  border: lightgray solid 1px;
}

.note_name {
  font-size: 1.5rem;
  margin: 10px;
}

.note_modification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modification_date {
  margin: 10px;
}

.note_delete {
  margin: 10px;
}
